rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Default safety deny
    match /{document=**} {
      allow read, write: if false;
    }

    // Surat Keluar & SPPD
    match /surat/{suratId} {
      allow read, write: if true;
    }

    // Master Data Guru
    match /guru/{guruId} {
      allow read, write: if true;
    }

    // Master Data Siswa
    match /siswa/{siswaId} {
      allow read, write: if true;
    }

    // Pengaturan & Data Sekolah
    match /settings/{settingDoc} {
      allow read, write: if true;
    }

    // Log Aktivitas
    match /logs/{logId} {
      allow read, write: if true;
    }
  }
}
